@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom styles */
:root {
    --bg-color: #1a202c;
    --text-color: #ffffff;
    --input-bg-color: #2d3748;
    --input-text-color: #ffffff;
}

[data-theme="light"] {
    --bg-color: #ffffff;
    --text-color: #000000;
    --input-bg-color: #f0f0f0;
    --input-text-color: #000000;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
    border: none;
}

#map {
    height: 100vh;
}

#flightDetailsPopup {
    background-color: var(--input-bg-color);
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 24rem;
}

#flightDetailsPopup p {
    margin-bottom: 0.5rem;
}

#flightDetailsPopup .orange {
    color: #faa31d; /* text-orange-500 */
}

#flightDetailsPopup .green {
    color: #48bb78; /* text-green-500 */
}

button {
    background-color: #e53e3e; /* bg-red-500 */
    color: #ffffff; /* text-white */
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 100%;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #c53030; /* bg-red-600 */
}

button:disabled {
    background-color: #718096; /* bg-gray-600 */
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: #718096; /* bg-gray-600 */
}

